In [32]:
import pandas as pd
import numpy as np

cases_url = 'United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv' 
cases_df = pd.read_csv(cases_url)

In [33]:
cases_df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,02/02/2021,IL,1130917,1130917.0,0.0,2304,0.0,21336,19306.0,2030.0,63,16.0,02/03/2021 02:55:58 PM,Agree,Agree
1,06/15/2020,WI,25480,22932.0,2548.0,185,11.0,700,694.0,6.0,2,0.0,06/16/2020 02:10:11 PM,Agree,Agree
2,05/03/2020,NH,2518,NaN,NaN,89,0.0,86,NaN,NaN,2,0.0,05/04/2020 10:49:24 PM,Not agree,Not agree
3,03/05/2021,CA,3526939,NaN,NaN,3165,0.0,59501,NaN,NaN,121,0.0,03/05/2021 12:00:00 AM,Not agree,Not agree
4,08/11/2020,GU,449,NaN,NaN,15,0.0,5,NaN,NaN,0,0.0,08/12/2020 01:50:14 PM,Not agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32095,07/23/2020,OR,15713,14900.0,813.0,319,6.0,273,269.0,4.0,2,0.0,07/24/2020 02:18:40 PM,Agree,Agree
32096,12/11/2020,AZ,394804,380243.0,14561.0,6986,459.0,7245,6689.0,556.0,91,12.0,12/12/2020 02:59:37 PM,Agree,Agree
32097,09/19/2020,SC,141788,137033.0,4755.0,573,59.0,3328,NaN,NaN,19,2.0,09/19/2020 12:00:00 AM,Agree,Not agree
32098,02/10/2021,FSM,1,1.0,0.0,0,0.0,0,0.0,0.0,0,0.0,02/11/2021 02:50:55 PM,Agree,Agree
32099,04/11/2020,NJ,58151,NaN,NaN,3563,NaN,2187,NaN,NaN,255,NaN,04/10/2020 04:22:39 PM,Agree,Agree

In [39]:
def date_checker(s):
    return s[:2] == "03" and s[-2:] == '21'

date_filter = cases_df["submission_date"].apply(date_checker)
march = cases_df[date_filter]

In [45]:
by_state_by_date = march[march['state'] == 'CA'].sort_values('submission_date') # cannot use index column in a mask
by_state_by_date

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
28813,03/01/2021,CA,3514677,NaN,NaN,2517,0.0,58962,NaN,NaN,158,0.0,03/01/2021 12:00:00 AM,Not agree,Not agree
23165,03/02/2021,CA,3516826,NaN,NaN,2149,0.0,59116,NaN,NaN,154,0.0,03/02/2021 12:00:00 AM,Not agree,Not agree
2799,03/03/2021,CA,3520541,NaN,NaN,3715,0.0,59248,NaN,NaN,132,0.0,03/03/2021 12:00:00 AM,Not agree,Not agree
6342,03/04/2021,CA,3523774,NaN,NaN,3233,0.0,59380,NaN,NaN,132,0.0,03/04/2021 12:00:00 AM,Not agree,Not agree
3,03/05/2021,CA,3526939,NaN,NaN,3165,0.0,59501,NaN,NaN,121,0.0,03/05/2021 12:00:00 AM,Not agree,Not agree
2983,03/06/2021,CA,3529853,NaN,NaN,2914,0.0,59618,NaN,NaN,117,0.0,03/06/2021 12:00:00 AM,Not agree,Not agree
25348,03/07/2021,CA,3532757,NaN,NaN,2904,0.0,59729,NaN,NaN,111,0.0,03/07/2021 12:00:00 AM,Not agree,Not agree
24750,03/08/2021,CA,3534937,NaN,NaN,2180,0.0,59830,NaN,NaN,101,0.0,03/08/2021 12:00:00 AM,Not agree,Not agree
2795,03/09/2021,CA,3536844,NaN,NaN,1907,0.0,59920,NaN,NaN,90,0.0,03/09/2021 12:00:00 AM,Not agree,Not agree
25347,03/10/2021,CA,3540166,NaN,NaN,3322,0.0,60018,NaN,NaN,98,0.0,03/10/2021 12:00:00 AM,Not agree,Not agree
2871,03/11/2021,CA,3542946,NaN,NaN,2780,0.0,60112,NaN,NaN,94,0.0,03/11/2021 12:00:00 AM,Not agree,Not agree
5967,03/12/2021,CA,3545697,NaN,NaN,2751,0.0,60204,NaN,NaN,92,0.0,03/12/2021 12:00:00 AM,Not agree,Not agree
22745,03/13/2021,CA,3548280,NaN,NaN,2583,0.0,60287,NaN,NaN,83,0.0,03/13/2021 12:00:00 AM,Not agree,Not agree
24241,03/14/2021,CA,3550751,NaN,NaN,2471,0.0,60370,NaN,NaN,83,0.0,03/14/2021 12:00:00 AM,Not agree,Not agree
6255,03/15/2021,CA,3552631,NaN,NaN,1880,0.0,60448,NaN,NaN,78,0.0,03/15/2021 12:00:00 AM,Not agree,Not agree
24794,03/16/2021,CA,3554221,NaN,NaN,1590,0.0,60513,NaN,NaN,65,0.0,03/16/2021 12:00:00 AM,Not agree,Not agree
4003,03/17/2021,CA,3557089,NaN,NaN,2868,0.0,60574,NaN,NaN,61,0.0,03/17/2021 12:00:00 AM,Not agree,Not agree
2836,03/18/2021,CA,3559565,NaN,NaN,2476,0.0,60646,NaN,NaN,72,0.0,03/18/2021 12:00:00 AM,Not agree,Not agree
6101,03/19/2021,CA,3562105,NaN,NaN,2540,0.0,60727,NaN,NaN,81,0.0,03/19/2021 12:00:00 AM,Not agree,Not agree
3509,03/20/2021,CA,3564293,NaN,NaN,2188,0.0,60806,NaN,NaN,79,0.0,03/20/2021 12:00:00 AM,Not agree,Not agree
26896,03/21/2021,CA,3566450,NaN,NaN,2157,0.0,60863,NaN,NaN,57,0.0,03/21/2021 12:00:00 AM,Not agree,Not agree
4289,03/22/2021,CA,3568149,NaN,NaN,1699,0.0,60943,NaN,NaN,80,0.0,03/22/2021 12:00:00 AM,Not agree,Not agree
2212,03/23/2021,CA,3569745,NaN,NaN,1596,0.0,60998,NaN,NaN,55,0.0,03/23/2021 12:00:00 AM,Not agree,Not agree
1736,03/24/2021,CA,3572425,NaN,NaN,2680,0.0,61052,NaN,NaN,54,0.0,03/24/2021 12:00:00 AM,Not agree,Not agree
23225,03/25/2021,CA,3574903,NaN,NaN,2478,0.0,61094,NaN,NaN,42,0.0,03/25/2021 12:00:00 AM,Not agree,Not agree
29420,03/26/2021,CA,3577551,NaN,NaN,2648,0.0,61158,NaN,NaN,64,0.0,03/26/2021 12:00:00 AM,Not agree,Not agree
23785,03/27/2021,CA,3579816,NaN,NaN,2265,0.0,61216,NaN,NaN,58,0.0,03/27/2021 12:00:00 AM,Not agree,Not agree
24921,03/28/2021,CA,3582060,NaN,NaN,2244,0.0,61272,NaN,NaN,56,0.0,03/28/2021 12:00:00 AM,Not agree,Not agree
918,03/29/2021,CA,3583715,NaN,NaN,1655,0.0,61322,NaN,NaN,50,0.0,03/29/2021 12:00:00 AM,Not agree,Not agree
25724,03/30/2021,CA,3585308,NaN,NaN,1593,0.0,61351,NaN,NaN,29,0.0,03/30/2021 12:00:00 AM,Not agree,Not agree
2445,03/31/2021,CA,3587971,NaN,NaN,2663,0.0,61396,NaN,NaN,45,0.0,03/31/2021 12:00:00 AM,Not agree,Not agree

In [48]:
# extract only cases
month_cases = by_state_by_date['tot_cases']
month_cases

array([3514677, 3516826, 3520541, 3523774, 3526939, 3529853, 3532757,
       3534937, 3536844, 3540166, 3542946, 3545697, 3548280, 3550751,
       3552631, 3554221, 3557089, 3559565, 3562105, 3564293, 3566450,
       3568149, 3569745, 3572425, 3574903, 3577551, 3579816, 3582060,
       3583715, 3585308, 3587971])

In [51]:
import scipy.stats
scipy.stats.linregress([i for i in range(0, len(month_cases))], month_cases).slope

2407.4060483870967

In [69]:
state_to_abbrev = {
  "Alabama": "AL",
  "Alaska": "AK",
  "Arizona": "AZ",
  "Arkansas": "AR",
  "California": "CA",
  "Colorado": "CO",
  "Connecticut": "CT",
  "Delaware": "DE",
  "Florida": "FL",
  "Georgia": "GA",
  "Hawaii": "HI",
  "Idaho": "ID",
  "Illinois": "IL",
  "Indiana": "IN",
  "Iowa": "IA",
  "Kansas": "KS",
  "Kentucky": "KY",
  "Louisiana": "LA",
  "Maine": "ME",
  "Maryland": "MD",
  "Massachusetts": "MA",
  "Michigan": "MI",
  "Minnesota": "MN",
  "Mississippi": "MS",
  "Missouri": "MO",
  "Montana": "MT",
  "Nebraska": "NE",
  "Nevada": "NV",
  "New Hampshire": "NH",
  "New Jersey": "NJ",
  "New Mexico": "NM",
  "New York": "NY",
  "North Carolina": "NC",
  "North Dakota": "ND",
  "Ohio": "OH",
  "Oklahoma": "OK",
  "Oregon": "OR",
  "Pennsylvania": "PA",
  "Puerto Rico": "PR",
  "Rhode Island": "RI",
  "South Carolina": "SC",
  "South Dakota": "SD",
  "Tennessee": "TN",
  "Texas": "TX",
  "Utah": "UT",
  "Vermont": "VT",
  "Virginia": "VA",
  "Washington": "WA",
  "West Virginia": "WV",
  "Wisconsin": "WI",
  "Wyoming": "WY"
}
abbrev_to_state = {}
for x,y in state_to_abbrev.items():
    abbrev_to_state[y] = x

In [71]:
# abbrevs = set(march['state'])
abbrevs = [ 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY' ]
rates = {}
for state in abbrevs:
    by_state_by_date = march[march['state'] == state].sort_values('submission_date') # cannot use index column in a mask
    month_cases = by_state_by_date['tot_cases']
    if (len(month_cases) == 0): continue 
    rate = scipy.stats.linregress([i for i in range(0, len(month_cases))], month_cases).slope
    rates[abbrev_to_state[state]] = rate
#     print("slope for " + state +" : " +  str(rate))
    
print(rates)

{'Alabama': 413.74717741935484, 'Alaska': 136.29717741935485, 'Arizona': 740.8665322580645, 'Arkansas': 257.716935483871, 'California': 2407.4060483870967, 'Colorado': 1047.254435483871, 'Connecticut': 932.8645161290318, 'Delaware': 224.76774193548394, 'Florida': 4618.304032258065, 'Georgia': 1604.5620967741938, 'Hawaii': 77.04233870967744, 'Idaho': 301.1169354838711, 'Illinois': 1832.8028225806443, 'Indiana': 815.5669354838709, 'Iowa': 467.0770161290323, 'Kansas': 265.65, 'Kentucky': 601.9383064516126, 'Louisiana': 470.5310483870968, 'Maine': 193.00766129032257, 'Maryland': 962.3419354838712, 'Massachusetts': 1766.5375, 'Michigan': 3497.5205645161304, 'Minnesota': 1144.1241935483872, 'Mississippi': 305.52258064516127, 'Missouri': 536.7048387096773, 'Montana': 154.5241935483871, 'Nebraska': 259.9209677419356, 'Nevada': 330.6935483870969, 'New Hampshire': 283.6487903225807, 'New Jersey': 3891.9225806451614, 'New Mexico': 204.7516129032258, 'New York': 3443.2173387096786, 'North Carolina': 1650.3495967741935, 'North Dakota': 105.68951612903223, 'Ohio': 1569.4072580645166, 'Oklahoma': 291.99798387096774, 'Oregon': 303.5592741935483, 'Pennsylvania': 2952.4979838709687, 'Rhode Island': 357.1383064516128, 'South Carolina': 967.745161290322, 'South Dakota': 173.11209677419353, 'Tennessee': 1143.8818548387096, 'Texas': 4262.020967741934, 'Utah': 468.0467741935484, 'Vermont': 122.84879032258061, 'Virginia': 1400.9955645161294, 'Washington': 770.448387096774, 'West Virginia': 327.0536290322579, 'Wisconsin': 591.2177419354838, 'Wyoming': 60.32782258064516}

In [74]:
pd.DataFrame.from_dict(rates.items())

                 0            1
0          Alabama   413.747177
1           Alaska   136.297177
2          Arizona   740.866532
3         Arkansas   257.716935
4       California  2407.406048
5         Colorado  1047.254435
6      Connecticut   932.864516
7         Delaware   224.767742
8          Florida  4618.304032
9          Georgia  1604.562097
10          Hawaii    77.042339
11           Idaho   301.116935
12        Illinois  1832.802823
13         Indiana   815.566935
14            Iowa   467.077016
15          Kansas   265.650000
16        Kentucky   601.938306
17       Louisiana   470.531048
18           Maine   193.007661
19        Maryland   962.341935
20   Massachusetts  1766.537500
21        Michigan  3497.520565
22       Minnesota  1144.124194
23     Mississippi   305.522581
24        Missouri   536.704839
25         Montana   154.524194
26        Nebraska   259.920968
27          Nevada   330.693548
28   New Hampshire   283.648790
29      New Jersey  3891.922581
30      New Mexico   204.751613
31        New York  3443.217339
32  North Carolina  1650.349597
33    North Dakota   105.689516
34            Ohio  1569.407258
35        Oklahoma   291.997984
36          Oregon   303.559274
37    Pennsylvania  2952.497984
38    Rhode Island   357.138306
39  South Carolina   967.745161
40    South Dakota   173.112097
41       Tennessee  1143.881855
42           Texas  4262.020968
43            Utah   468.046774
44         Vermont   122.848790
45        Virginia  1400.995565
46      Washington   770.448387
47   West Virginia   327.053629
48       Wisconsin   591.217742
49         Wyoming    60.327823